<h2>Listing people</h2>

<table class="table">
  <tr>
    <th>NPID</th>
    <th>Created at</th>
    <th>Last updated by</th>
    <th>Last updated at site</th>
    <th>Version</th>
    <th style="width: 130px;"></th>
  </tr>

  <% @people.each do |person| %>
    <tr>
      <td><%= link_to person.npid_value, person %></td>
      <td><%= person.created_at %></td>
      <td><%= person.creator_id || ' - unknown - ' %></td>
      <td><%= person.creator_site.try(:name) || ' - unknown - ' %></td>
      <td><%= person.version_number.last(12) %></td>
      <td>
        <%= link_to 'Show', person if can? :show, person %> |
        <%= link_to 'Edit', edit_person_path(person) if can? :edit, person %> |
        <%= link_to 'Sync', remote_person_path(person) if can? :show_remote, person %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @people %>
<br />
<p>
  <div id="new" align="center">
    <%= link_to 'New Person', new_person_path %>
  </div>
</p>