<p id="notice"><%= notice %></p>

<p>
  <b>National Patient ID:</b>
  <%= @person.npid_value %>
</p>

<p>
  <b>Data:</b>
  <%= @person.data.to_json %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
