<p>
  <b>National Patient ID:</b>
  <%= link_to @person.npid_value, @person.npid %>
</p>

<p>
  <b>Creator Site:</b>
  <%= link_to @person.creator_site.try(:name), @person.creator_site %>
</p>

<p>
  <b>Data:</b>
  <%= @person.data.to_json %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
