<%= form_for(@national_patient_identifier) do |f| %>
  <% if @national_patient_identifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@national_patient_identifier.errors.count, "error") %> prohibited this national_patient_identifier from being saved:</h2>

      <ul>
        <% @national_patient_identifier.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :assigned_at %><br />
    <%= f.datetime_select :assigned_at, :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :assigner_id %><br />
    <%= f.text_field :assigner_id %>
  </div>

  <% if Site.master? %>
    <div class="field">
      <%= f.label :assigner_site_id %><br />
      <%= f.collection_select :assigner_site_id, Site.all, :id, :name, :include_blank => true %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
