<h2>Generate new NPIDs</h2>

<%= form_tag generate_national_patient_identifiers_path, :method => :post do |f| %>
  <div class="field">
    <%= label_tag :count, 'Number of IDs to generate' %><br />
    <%= text_field :npid, :count, :value => 10 %>
  </div>

  <div class="field">
    <%= label_tag :count, 'Site to assign the IDs to' %><br />
    <%= collection_select :npid, :assigner_site_id, Site.all, :id, :name, :include_blank => true %>
  </div>

  <div class="actions">
    <%= submit_tag 'Generate and assign IDs' %>
  </div>
<% end %>
