<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @national_patient_identifier.value %>
</p>

<p>
  <b>Assigned at:</b>
  <%= @national_patient_identifier.assigned_at || '- not assigned yet -' %>
</p>

<p>
  <b>Assigner site:</b>
  <%= @national_patient_identifier.assigner_site_id %>
</p>

<% if @national_patient_identifier.person %>
  <p>
    <b>Assigned to:</b>
    <%= link_to @national_patient_identifier.person.data['person']['names'].values_at('given_name', 'family_name', 'family_name2').join(', '), @national_patient_identifier.person %>
  </p>
<% end %>

<%= link_to 'Edit', edit_national_patient_identifier_path(@national_patient_identifier) %> |
<%= link_to 'Back', national_patient_identifiers_path %>
