<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @national_patient_identifier.value %>
</p>

<p>
  <b>Assigned at:</b>
  <%= @national_patient_identifier.assigned_at || '- not assigned yet -' %>
</p>

<p>
  <b>Assigner site:</b>
  <%= @national_patient_identifier.assigner_site_id %>
</p>

<% if @national_patient_identifier.person %>
  <p>
    <b>Assigned to:</b>
    <%= link_to @national_patient_identifier.person.data['names'].values_at('given_name', 'family_name', 'family_name2').join(', '), @national_patient_identifier.person rescue nil%>
  </p>
  <p>
    <b>Gender:</b>
    <%= link_to @national_patient_identifier.person.data['gender'], @national_patient_identifier.person rescue nil%>
  </p>
  <p>
    <b>Birthdate:</b>
    <%= link_to @national_patient_identifier.person.data['birthdate'], @national_patient_identifier.person rescue nil%>
  </p>
  <p>
    <b>Address:</b>
    <%= link_to @national_patient_identifier.person.data['addresses'].values_at('county_district','city_village','state_province','address2').join(': '), @national_patient_identifier.person rescue nil%>
  </p>
  <p>
    <b>Occupation:</b>
    <%= link_to @national_patient_identifier.person.data['attributes'].values_at('occupation'), @national_patient_identifier.person rescue nil%>
  </p>
  <p>
    <b>Cell phone number:</b>
    <%= link_to @national_patient_identifier.person.data['attributes'].values_at('cell_phone_number'), @national_patient_identifier.person rescue nil%>
  </p>
<% end %>

<%= link_to 'Edit', edit_national_patient_identifier_path(@national_patient_identifier) %> |
<%= link_to 'Back', national_patient_identifiers_path %>
