<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, 'error') %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>

  <% if Site.master? %>
    <div class="field">
      <%= f.label :site_id %><br />
      <%= f.collection_select :site_id, Site.all, :id, :name, :include_blank => '[Master Server]' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.check_box :disabled %> <%= f.label :disabled %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
