<h2>User <%= @user.name %>: Details</h2>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Site:</b>
  <%= @user.site_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Disabled:</b>
  <%= @user.disabled ? 'Yes' : 'No' %>
</p>

<p>
  <b>Created at:</b>
  <%= @user.created_at %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
