<style>
  #errors { display: none; }
</style>

<div id="errors" class="flash">
  <div class="message error">
    <p>Number of IDs must be a number between 1 and 4000</p>
  </div>
</div>

<div class="flash">
<% if @npid_request.errors.any? %>
      <div class="message error">
        <% @npid_request.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
  <% end %>
</div>
<script>

var numberOfNewIDsRequested = 0;                                             
var numberOfAssignedIDs = 1;                      
var requestID = null;

function isInt(value) {
    return !isNaN(parseInt(value,10)) && (parseFloat(value,10) == parseInt(value,10));
}

function validate_count(){

  error_flash = document.getElementById('errors')
  if (!numberOfNewIDsRequested){
    error_flash.style.display='block';
    return false;
  }
  if (isNaN(numberOfNewIDsRequested)){
    error_flash.style.display='block';
    return false;
  }

  if (!isInt(numberOfNewIDsRequested)){
    error_flash.style.display='block';
    return false;
  }
    
  if (parseInt(numberOfNewIDsRequested) < 1 || parseInt(numberOfNewIDsRequested) > 4000){
    error_flash.style.display='block';
    return false;
  }

  return true;
}

                                                                                
 function getID() { 
   var notice = document.getElementsByTagName('h2')[0];
                                                   
   if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
     xmlhttp=new XMLHttpRequest();                                             
   }else{// code for IE6, IE5                                                  
     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
   }
  
   xmlhttp.onreadystatechange=function() {                                     
     if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
       var results = xmlhttp.responseText;                                     
       notice.innerHTML = "Request new NPIDs (" + numberOfAssignedIDs++ + ")";                       
       numberOfNewIDsRequested--;                                                   
       doDelayLoop();                                                            
     }     
   }    

  var params = "npid_request[count]=1&npid_request[last_timestamp]=" + (new Date());
  xmlhttp.open("GET","/npid_requests/get_npids?" + params , true);            
  xmlhttp.send();
 
}

function BatchRequestIDs() {
  numberOfNewIDsRequested = document.getElementById('npid_request_count').value
  var siteCode = "<%=Site.current.code rescue nil %>"
  var parameters = "npid_request[count]=" + numberOfNewIDsRequested + "&npid_request[last_timestamp]=" + (new Date());
  parameters += "&npid_request[site_code]=" + siteCode;

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }

  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      if (xmlhttp.responseText.match(".txt")) {
        acknowledge(xmlhttp.responseText)
      }else{
        window.location = "/national_patient_identifiers";
        return
      }
    }     
  }    

  xmlhttp.open("GET","/npid_requests/get_npids_in_batch?" + parameters , true);            
  xmlhttp.send();
  return

}

function acknowledge(filename) {
  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }

  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      saveRequestedIds(filename);
      return
    }     
  }    

  xmlhttp.open("GET","/npid_requests/acknowledge?file=" + filename , true);            
  xmlhttp.send();
  return
}

function saveRequestedIds(filename) {
  requestID.disabled = true;
  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }

  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      window.location = "/national_patient_identifiers";
      return
    }     
  }    

  xmlhttp.open("GET","/npid_requests/save_requested_ids?file=" + filename , true);            
  xmlhttp.send();
  return
}

function requestIDs() {                                                            
  requestID = document.getElementById('request_ids');
  numberOfNewIDsRequested = document.getElementById('npid_request_count').value
  
  if(validate_count() == false){
    return;
  }
 
  requestID.disabled = true;

  <%unless Site.proxy? %>
    var siteCode = document.getElementById('npid_request_site_code').value
    var parameters = "npid_request[count]=" + numberOfNewIDsRequested + "&npid_request[last_timestamp]=" + (new Date());
    parameters += "&npid_request[site_code]=" + siteCode;

    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();                                             
    }else{// code for IE6, IE5                                                  
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
    }
  
    xmlhttp.onreadystatechange=function() {                                     
      if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
        window.location = "/national_patient_identifiers";
        return
      }     
    }    

    xmlhttp.open("GET","/npid_requests/get_npids?" + parameters , true);            
    xmlhttp.send();
    return;
  <%end%>

  BatchRequestIDs();
  return;

  try{ 
    numberOfNewIDsRequested = parseInt(numberOfNewIDsRequested);
  }catch(e){
    numberOfNewIDsRequested = 0;
  }

  if(numberOfNewIDsRequested < 1 || isNaN(numberOfNewIDsRequested))
    return;

  doDelayLoop();                                                                
}                                                                               
                                                                                
function doDelayLoop() {                                                        
  for(i=0 ; i < numberOfNewIDsRequested; i++){                                                               
    getID();                                                     
    break                                                                       
  }      
  
  if (numberOfNewIDsRequested < 1)                                                                       
    window.location = '/national_patient_identifiers';
                                               
} 


</script>


<h2>Request new NPIDs</h2><br />

<%= form_for @npid_request,:url => "javascript:requestIDs();" do |f| %>

  <div class="field">
    <%= f.label :count, 'Number of IDs to request' %><br />
    <%= f.text_field :count %>
  </div>

  <% if Site.master? %>
    <div class="field">
      <%= f.label :site_code, 'Site' %><br />
      <%= f.collection_select :site_code, Site.all, :code, :name %>
    </div>
  <% end %>

  <div class="actions">
    <%#= f.submit 'Request new NPIDs' %>
    <%= button_to_function 'Request new NPIDs' , 'requestIDs()' , :id => 'request_ids' %>&nbsp;
    <% if Site.proxy? %>
      <%#= button_to_function 'Request new NPIDs (Batch format)' , 'BatchRequestIDs()' %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', national_patient_identifiers_path %>
