<h2>Listing sites</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Annotations</th>
    <th>Available NPIDS</th>
    <% if Site.master? %>
      <th>Assigned NPIDS</th>
    <% end %>
    <th style="width: 130px;"></th>
  </tr>

  <% @sites.each do |site| %>
    <tr>
      <td><%= link_to site.name, site %></td>
      <td><%= site.code %></td>
      <td><%= site.annotations %></td>
      <% if Site.master? %>
      <td><%= site.available_npids.count %></td>
      <td><%= site.assigned_npids.count %></td>
      <% else %>
        <td><%= site.available_npids.count %></td>
      <% end %>
      <td>
        <%= link_to 'Show', site %> |
        <%= link_to 'Edit', edit_site_path(site) if can? :edit, site %> |
        <%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete if can? :destroy, site %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path if can? :create, Site %>
<%= link_to 'Synchronize with Master', index_remote_sites_path %>
