<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Code:</b>
  <%= @site.code %>
</p>

<p>
  <b>Annotations:</b>
  <%= @site.annotations %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
