<!DOCTYPE html>
<html>
<head>
  <title>DdeServer</title>
  <%= stylesheet_link_tag 'scaffold', 'dde' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
  <% if can? :access, :anything %>
    <ul id="navigation">
      <li><%= link_to 'Patient management', people_path %></li>
      <li><%= link_to 'User management', users_path %></li>
      <li><%= link_to 'NPID management', national_patient_identifiers_path %></li>
      <% if can? :manage, Site %>
        <li><%= link_to 'Site Management', sites_path %></li>
      <% end %>
    </ul>
  <% end %>

  <% if Site.master? %>
    <h1>DDE Master Server</h1>
  <% else %>
    <h1>DDE Proxy for Site <%= Site.current_name %></h1>
  <% end %>
  <%= notice %>

  <%= yield %>
</div>

</body>
</html>
