<div class="flash">
<% if @npid_threshold_setting.errors.any? %>
      <div class="message error">
        <% @npid_threshold_setting.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
  <% end %>
</div>

<%= form_for @npid_threshold_setting do |f| %>

  <div class="field">
    <%= f.label :threshold, 'Threshold' %><br />
    <%= f.text_field :threshold %>
  </div><br />

  <% if (Site.master? and not @sites.blank?) %>
    <div class="field">
      <%= f.label :site_code, 'Site' %><br />
      <%= f.collection_select :site_id, @sites, :id, :name %> 
    </div><br />
  <% end %>

  <div class="actions">
    <%= f.submit params[:action]== 'edit' ? 'Update Threshold' : 'Set Threshold'%>
  </div>

<% end %>
<br/>