<div class="flash">
<% if @npid_setting.errors.any? %>
      <div class="message error">
        <% @npid_setting.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
  <% end %>
</div>

<%= form_for @npid_setting do |f| %>

  <div class="field">
    <%= f.label :threshold, 'Threshold' %><br />
    <%= f.text_field :threshold %>
  </div>

  <% if (Site.master? and not @sites.blank?) %>
    <div class="field">
      <%= f.label :site_code, 'Site' %><br />
      <%= f.collection_select :site_id, @sites, :id, :name %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Set Threshold'%>
  </div>

<% end %>