<h2>NPID Auto Request settings</h2>

<table class="table">
  <tr>
    <th style="width: 200px;">Site Name</th>
    <th>Threshold</th>
    <th>Date Created</th>

    <th style="width: 130px;"></th>
  </tr>
  
  <% @npid_autogenerates.each do |npid_setting| %>
    <tr>
      <td><%= npid_setting.site.name %></td>
      <td><%= npid_setting.threshold %></td>
      <td><%= npid_setting.created_at %></td>
      <td>
        <%= link_to 'Destroy', npid_setting, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @npid_autogenerates rescue nil %>
<br/>
<p>
<div id="new" align="center">
<%= link_to 'New Setting', new_npid_auto_generation_path %>
</div>
</p>